.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    column-gap: 30px;
    padding: 95px 50px 96px;
}
.header_menu {
    display: grid;
}
.header_links-list {
    display: flex;
    gap: 32px;
    white-space: nowrap;
    list-style: none;
    padding: 0;
}
.header_links-list-item {
    list-style: circle;
    list-style-position: inside;
}
.header_links-list-item:first-child {
    list-style: none;
}
.header_links-list-item:not(:first-child).header_link {
    text-decoration: underline;
    text-underline-offset: 4px;
}
.header_link {
    font-size: 18px;
    font-weight: 400;
}
.header_link-active {
    text-decoration: none;
}
.header_logo {
    display: block;
    width: 148px;
    height: auto;
}
.header_logo-image {
    display: block;
    width: 100%;
    height:auto;
}
.header_address {
    max-width: 240px;
    justify-self: end;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-style: normal;
}
.header_address a {
    text-decoration: none;
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    color: inherit;
    font-size: 18px;
    line-height: 24.3px;
    display: inline-block;
}
 .cover {
    min-height: 100vh;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
 }
 .overlay {
    position: absolute;
    inset: 0;
    z-index: 0;
    background-color: rgba(0,0,0,0.6);
 }
.cover_title {
    position: relative;
    text-transform: uppercase;
    color: white;
    font-size: 100px;
    line-height: 115px;
    letter-spacing: 30px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 106px;
    padding: 165px 50px 0;
}
.aligned-text {
    display: block;
    margin-bottom: 20px;
    color: rgb(255,255,255);
    font-weight: 700;
    font-size: 100px;
    line-height: 1.15;
    letter-spacing: 23px;
    text-transform: uppercase;
}
.aligned-text_left {
    text-align: left;
}
.aligned-text_center {
    text-align: center;
}
.aligned-text_right {
    text-align: right;
}
.cover_description {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 106px;
    padding: 0px 50px 50px ;
}
.cover_description-text {
    color: rgb(255,255,255);
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    word-spacing: 20px;
}
.bet-button {
    border: 1px solid rgb(255,255,255);
    padding: 12px 32px 11px 31px;
    color: rgb(255,255,255);
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    background: transparent;
}
.lots {
    margin-top: 180px;
    padding:0 24px;
    color: white;
}
.lots_heading {
    padding-left:  40px;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-transform: uppercase;
    color: black;
}
.lots_card-list {
    display: flex;
    gap: 25px;
    margin-top: 27px;
    margin-bottom: 30px;
    list-style: none;
}
.card {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 334px;
    min-height: 596px;
    padding: 48px 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}
.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}
.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}
.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}
.card-link {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    text-decoration-color:#fff;
    z-index:2;
}
.card_title {
    position: relative;
    z-index: 2;
    color:rgb(255,255,255);
    font-weight: 700;
    font-size: 22px;
    line-height: 1.2;
    text-decoration: underline;
    text-transform: uppercase;
}
.card_text {
    position: relative;
    z-index: 2;
    color: rgb(255,255,255);
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
}
.lots_look-more-link {
    margin-top: 30px;
    margin-left: 40px;
    color: rgb(0,0,0);
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-decoration: underline;
}
.about {
    margin-top: 120px;
    padding: 0 24px;
}
.about_column {
    display: grid;
    grid-template-columns: 240px 1fr;
    align-items: start;
    gap: 72px;
    padding-top: 35px;
    padding-left: 47px;
}
.about_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    background-color: black;
    border-radius: 50%;
}
.about_logo-image {
    width: 142px;
    height: 112.5px;
}
.about_lots-description {
    padding-top: 105px;
}
.about_lots-title {
    margin-bottom: 100px;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-transform: uppercase;
}
.about_lots-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
}
.about_lots-text:nth-of-type(1) {
    margin-bottom: 24px;
}
.footer {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    justify-content: center;
    align-items: start;
    gap: 100px;
    margin-top: 180px;
    padding: 0 50px 82px;
}
.footer_address {
    font-weight: 400;
    line-height: 24.3px;
    margin: 0;
    font-style: normal;
    max-width: 240px;
    justify-content: center;
}
.footer_address a {
    text-decoration: none;
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    color: inherit;
    font-size: 18px;
    line-height: 24.3px;
    display: inline-block;
}
.footer_address p {
    margin: 0;
}
.footer_menu {
    display: flex;
    justify-self:center;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 10px;
    justify-content: center;
}
.footer_menu-list {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 163.9px;
    text-align: justify;
}
.footer_menu-link {
    display: block;
    color: rgb(0,0,0);
    font-weight: 400;
    font-size: 18px;
    line-height: 24.3px ;
    text-decoration: underline;
    text-align: center;
}
.footer_menu-link_active {
    text-decoration: none;
}
.footer_social-list {
    display: flex;
    align-items: flex-start;
    gap: 48px;
    justify-self: end;
    justify-content: center;
}
.footer_social-link {
    display: block;
    width: 48px;
}
.footer_social-icon {
    width: 100%;
}